body{
    background-color:linen;
    margin: 0;
    padding: 0;
}
.phandau{
    background-color: black;
    color: white;
    font-size: large;
    display: block;
    height: 41px;
    width: 100%;
}
li{
    display: inline;
}
ul.menu{
    list-style-type:none;
}
ul a:link, a:visited{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul a:hover{
    background-color: red;
}
h1{color: orange;}  
.mymap{
    padding:0 10%;
}